@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
    --outfit: 'Outfit';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    display: block;
    max-width: 100%;
    border-radius: 10px;
}

body {
    background-color: var(--light-gray);
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    background-color: var(--white);
    max-width: 320px;
    height: 500px;
    padding: 1rem;
    border-radius:15px;
}
h1 {
    font-size: 1.36rem;
    text-align: center;
    font-family: var(--outfit);
    font-weight: 700;
    margin-top: 1.5rem;
    color: var(--dark-blue);
}
p {
    font-family: var(--outfit);
    margin-top: 1rem;
    font-weight: 400;
    text-align: center;
    font-size: 1rem;
    padding: 0 0.5rem;
    color: var(--grayish-blue);
}